body{
   border: rgb(139, 141, 139);
   
   height: auto;
}

.navigation{
margin: auto;
height: 80px;
padding: 30px;

}
nav{
display: flex;
flex-direction: row;
padding: 10px;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;
line-height: 1;
}
a{
   margin: 20px ;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   color: black;

}
a:hover{
    color: cornflowerblue;
}
.middle{
    background-image: url(./haircut.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    padding: 10px;
    display: flex;
   flex-direction: column;
   justify-content: right;
   align-items: flex-end;
   margin: 10px;
   border: 1px solid
   
   
}
li{
    padding: 10px;
    background-color: rgb(17, 16, 16);
    list-style: none;
    padding: 10px;
    margin: 10px;
    margin-right: 85px;
    color: white;
    
}
.bottom{
    height: 50px;
   

}  
 h1{
     font-style: oblique;
     text-decoration: beige;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     border: 2px;
     margin: 10px ;
 }   
  .image{
     padding: 10px;
 }  
 .has-image{
     display: flex;
     flex-direction: row;
     justify-content: center;
     padding: 10px;
     margin: 10px;
     align-content: center;
 }
 
 .icon{
     display: flex;
     flex-direction: row;
     justify-content: center;
    
     background-color: black;
    
 }
 
 i{
    align-content: space-between; 
    padding: 10px; 
    border: 1px solid;
    margin: 10px;
    color: white;
   
 }
 
h3{
    margin-left: 100px;
}  
    h2{
        
        padding: 10px;
    } 
p{
   color: white;
   margin-right: 380px;
    margin-bottom: -100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
}
h2{
    color:black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
@media(max-width:600px){
    .has-image{
        display: block;
    }
   .navigation{
       display: flex;
       flex-direction: column;
   }
   .icon{
       display: block;
       border: none;
       padding: 5px;
       background-color: none;
   }
}

